.tengah{
    margin-top: 100px;
  }
  
  #huruf{
    font-family: OSWALD;
  }
  button {
      background-color: #141616;
      color: rgba(94, 141, 185, 0.397);
      border: none;
      box-shadow: none;
      font-size: 19px;
      font-weight: 600;
      font-weight: 600;
      border-radius: 5px;
      padding: 15px 35px;
      margin: 26px 5px 0 5px;
      cursor: pointer;
  }